<div class="fixed w-full z-50 top-0 bg-zinc-950 border-b border-zinc-800">
  <div class="max-w-5xl mx-auto px-5 py-3 flex justify-between items-center">
    <!-- Left -->
    <div class="flex items-center gap-2">
      <img
        class="h-10 w-10 rounded-full"
        src="/images/vaultvoice_home_logo.png"
      />
      <img class="h-8 sm:h-10" src="/images/vaultvoice_home_text.png" />
    </div>

    <!-- Desktop -->
    <div class="hidden sm:flex gap-6">
      <a class="hover:text-orange-500 transition" href="/home">Home</a>
      <a class="hover:text-orange-500 transition" href="/blogs">Blogs</a>
      <a class="hover:text-orange-500 transition" href="/setting">Settings</a>
    </div>

    <!-- Mobile -->
    <div class="relative sm:hidden">
      <button id="menuButton" class="p-2">
        <svg class="h-6 w-6" viewBox="0 0 448 512" fill="white">
          <path
            d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
            fill="white"
          />
        </svg>
      </button>

      <div
        id="mobileMenu"
        class="absolute right-0 top-full mt-2 w-32 bg-zinc-950 rounded-lg shadow-lg opacity-0 -translate-y-2 pointer-events-none transition-all duration-300"
      >
        <div class="flex flex-col p-3 gap-2">
          <div class="flex items-center gap-2">
            <svg
              fill="white"
              class="h-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M277.8 8.6c-12.3-11.4-31.3-11.4-43.5 0l-224 208c-9.6 9-12.8 22.9-8 35.1S18.8 272 32 272l16 0 0 176c0 35.3 28.7 64 64 64l288 0c35.3 0 64-28.7 64-64l0-176 16 0c13.2 0 25-8.1 29.8-20.3s1.6-26.2-8-35.1l-224-208zM240 320l32 0c26.5 0 48 21.5 48 48l0 96-128 0 0-96c0-26.5 21.5-48 48-48z"
              />
            </svg>
            <a href="/home">Home</a>
          </div>
          <div class="flex gap-2 items-center">
            <svg
              fill="white"
              class="h-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M384 512L96 512c-53 0-96-43-96-96L0 96C0 43 43 0 96 0L400 0c26.5 0 48 21.5 48 48l0 288c0 20.9-13.4 38.7-32 45.3l0 66.7c17.7 0 32 14.3 32 32s-14.3 32-32 32l-32 0zM96 384c-17.7 0-32 14.3-32 32s14.3 32 32 32l256 0 0-64-256 0zm32-232c0 13.3 10.7 24 24 24l176 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-176 0c-13.3 0-24 10.7-24 24zm24 72c-13.3 0-24 10.7-24 24s10.7 24 24 24l176 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-176 0z"
              />
            </svg>
            <a href="/blogs">Blogs</a>
          </div>
          <div class="flex gap-2 items-center">
            <svg
              fill="white"
              class="h-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M195.1 9.5C198.1-5.3 211.2-16 226.4-16l59.8 0c15.2 0 28.3 10.7 31.3 25.5L332 79.5c14.1 6 27.3 13.7 39.3 22.8l67.8-22.5c14.4-4.8 30.2 1.2 37.8 14.4l29.9 51.8c7.6 13.2 4.9 29.8-6.5 39.9L447 233.3c.9 7.4 1.3 15 1.3 22.7s-.5 15.3-1.3 22.7l53.4 47.5c11.4 10.1 14 26.8 6.5 39.9l-29.9 51.8c-7.6 13.1-23.4 19.2-37.8 14.4l-67.8-22.5c-12.1 9.1-25.3 16.7-39.3 22.8l-14.4 69.9c-3.1 14.9-16.2 25.5-31.3 25.5l-59.8 0c-15.2 0-28.3-10.7-31.3-25.5l-14.4-69.9c-14.1-6-27.2-13.7-39.3-22.8L73.5 432.3c-14.4 4.8-30.2-1.2-37.8-14.4L5.8 366.1c-7.6-13.2-4.9-29.8 6.5-39.9l53.4-47.5c-.9-7.4-1.3-15-1.3-22.7s.5-15.3 1.3-22.7L12.3 185.8c-11.4-10.1-14-26.8-6.5-39.9L35.7 94.1c7.6-13.2 23.4-19.2 37.8-14.4l67.8 22.5c12.1-9.1 25.3-16.7 39.3-22.8L195.1 9.5zM256.3 336a80 80 0 1 0 -.6-160 80 80 0 1 0 .6 160z"
              />
            </svg>
            <a href="/setting">Settings</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const menuBtn = document.querySelector("#menuButton");
  const mobileMenu = document.querySelector("#mobileMenu");

  menuBtn.addEventListener("click", () => {
    mobileMenu.classList.toggle("open");

    menuBtn.classList.toggle("rotate-90");
  });
</script>
