<%- include('./partials/header') %>

<div class="min-h-screen flex justify-center items-center mx-2">
  <div
    class=" shadow-zinc-600 w-full max-w-md bg-zinc-950 rounded-2xl shadow-2xl p-8 border border-zinc-700"
  >
 

    <div class="h-32 w-32 mx-auto">
      <img class="rounded-[50%] h-32 w-32 object-cover" src="/images/vault_voice_dark.png" alt="logo" />
    </div>
    <h2 class="text-3xl font-semibold text-center mb-6">Create Account</h2>
<%-include ('./partials/flash') %>
    <form action="/register" method="post" class="flex flex-col gap-4">
      <input
        class="bg-zinc-900 border border-zinc-700 rounded-lg px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500 transition"
        type="text"
        placeholder="Full Name"
        name="name"
      />

      <input
        class="bg-zinc-900 border border-zinc-700 rounded-lg px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500 transition"
        type="text"
        placeholder="Username"
        name="username"
      />

      <input
        class="bg-zinc-900 border border-zinc-700 rounded-lg px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500 transition"
        type="email"
        placeholder="Email"
        name="email"
        required
      />

      <input
        class="bg-zinc-900 border border-zinc-700 rounded-lg px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500 transition"
        type="password"
        placeholder="Password"
        name="password"
        required
      />

      <input
        class="bg-zinc-900 border border-zinc-700 rounded-lg px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500 transition"
        type="number"
        placeholder="Age"
        name="age"
      />

      <button
        class="mt-2 bg-blue-600 hover:bg-blue-700 transition py-2 rounded-lg font-medium"
        type="submit"
      >
        Create Account
      </button>
    </form>

    <div class="flex justify-center gap-2 mt-6 text-sm text-zinc-400">
      <p>Already have an account?</p>
      <a href="/login" class="text-blue-400 hover:underline"> Login </a>
    </div>
  </div>
</div>

</body>
</html>