@import "tailwindcss";

@layer components {
  .form-group {
    @apply grid sm:grid-cols-[1fr_2fr] gap-4 items-center;
  }
  
  .form-input{
    @apply w-full bg-zinc-800 border border-zinc-700 rounded-xl p-3  outline-none focus:ring focus:ring-orange-400 focus:bg-zinc-900 transition duration-300 ease-in;
  }
  .submit-button{
    @apply mt-3 bg-orange-500 hover:bg-orange-600 transition px-6 py-2 rounded-lg font-medium duration-300 ease-in
  }
}

#mobileMenu.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #18181b; /* zinc-900 */
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
  border-radius: 9999px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #424249; /* zinc-600 */
}
